{
  "openapi": "3.0.3",
  "info": {
    "title": "Kino XII API",
    "version": "1.0.0",
    "description": "REST API for the Kino XII cinema network. This page is the contract: if the frontend and this disagree, this is right.\n\n## Start here\n\n1. `GET /filter-options` once at boot, and cache it. Venues, formats, languages, time bands, sorts, ticket types, age ratings, the 3 seat cap and the 8 minute hold all come from there. Hardcode none of it.\n2. `GET /movies/now-playing`, `/movies/coming-soon` and `/movies/featured` for the home page.\n3. `GET /sessions` for the sessions page. Mirror every filter in the URL.\n4. Booking is three calls: `GET /sessions/{id}/seats`, then `POST /sessions/{id}/holds`, then `POST /orders`.\n\n## Conventions\n\nMoney is Georgian lari as a plain number, so `24` and `14.5` rather than strings or minor units.\n\n## Authentication\n\n`POST /register` and `POST /login` both return a token. Send it on every protected request:\n\n```text\nAuthorization: Bearer 1|abc123...\n```\n\nTo try protected endpoints on this page, hit **Authorize** at the top right and paste a token. `jane@kinoxii.test` with the password `password` is a seeded account with a complete profile and tickets in both tabs.\n\n## Reading the error codes\n\n| Code | What happened | What to do |\n| --- | --- | --- |\n| `401` | Token missing, expired or revoked | Open the login modal, then **replay the action** so the user does not click twice |\n| `403` | The record belongs to another account | Nothing the user can fix; this usually means a bug |\n| `409` | Someone took the seats first | Read `contested`, mark those sold, keep the rest of the selection, refetch the map |\n| `422` + `errors` | Field validation | Map each key in `errors` onto its input |\n| `422`, `message` only | A booking rule blocked it | Show `message` as it comes: incomplete profile, age gate, or an expired hold |\n| `404` | No such record | |\n| `500` | Server fault | Show a retry |\n\nThe two shapes of `422` are the one thing worth getting right early. `errors` present means a form problem; `errors` absent means a rule problem, and the message is already written for the user.\n\n## Rules the API enforces\n\nThese are checked server side, so the UI cannot bypass them by accident. Mirror them in the UI anyway, so the user is never offered something that will fail:\n\n- at most **3 seats** per order;\n- **child tickets** refused on 16+ and 18+ titles;\n- an **age gate** against the profile date of birth;\n- **holds last 8 minutes**, then the seats free themselves;\n- **refunds** close **2 hours** before the session starts;\n- **booking needs a complete profile**: name, mobile number and date of birth."
  },
  "servers": [
    {
      "url": "https://api.kinoxii.redberryinternship.ge/api",
      "description": "Production"
    },
    {
      "url": "/api",
      "description": "This server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 2
          },
          "username": {
            "type": "string",
            "example": "jane"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "avatar": {
            "type": "string",
            "nullable": true,
            "description": "Public URL, or null"
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "mobileNumber": {
            "type": "string",
            "nullable": true,
            "example": "599123456"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "age": {
            "type": "integer",
            "nullable": true,
            "description": "Derived from dateOfBirth, so the eligibility notice needs no date maths on the client. Null until the profile is complete."
          },
          "preferredVenue": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Venue"
              }
            ],
            "nullable": true
          },
          "profileComplete": {
            "type": "boolean",
            "description": "False until fullName, mobileNumber and dateOfBirth are all set. Booking is blocked while false."
          }
        }
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string",
            "example": "galleria",
            "description": "Use this value in the `venues[]` filter"
          },
          "name": {
            "type": "string",
            "example": "Galleria Tbilisi"
          },
          "city": {
            "type": "string",
            "example": "Tbilisi"
          },
          "formats": {
            "type": "array",
            "description": "Formats this venue can actually show, which is what narrows the format filter when venues are selected.",
            "items": {
              "$ref": "#/components/schemas/Format"
            }
          }
        }
      },
      "Format": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string",
            "example": "max"
          },
          "name": {
            "type": "string",
            "example": "MAX"
          },
          "priceUplift": {
            "type": "number",
            "example": 6,
            "description": "Added to the film base price"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string",
            "example": "georgian-dub"
          },
          "name": {
            "type": "string",
            "example": "Georgian Dub"
          }
        }
      },
      "Genre": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Thriller"
          }
        }
      },
      "AgeRating": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "G",
              "PG",
              "12+",
              "16+",
              "18+"
            ]
          },
          "minAge": {
            "type": "integer",
            "example": 16,
            "description": "Compare against the signed in user age. If it is lower, disable the session buttons. The API refuses the booking anyway, but the button should not be clickable."
          },
          "description": {
            "type": "string",
            "description": "Tooltip copy for the rating badge. Render it as given."
          }
        }
      },
      "TicketType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string",
            "enum": [
              "adult",
              "child",
              "student"
            ]
          },
          "name": {
            "type": "string"
          },
          "priceRatio": {
            "type": "number",
            "example": 0.6,
            "description": "Multiplied by the session price to get this ticket price. Read it from here rather than hardcoding 0.6 and 0.75."
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "blockedFromRatingAge": {
            "type": "integer",
            "nullable": true,
            "example": 16,
            "description": "Refused when the film's minAge is at or above this. Child tickets use 16."
          }
        }
      },
      "Movie": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string",
            "example": "the-end-of-oak-street-1101383",
            "description": "Path key for /movies/{slug}"
          },
          "title": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "film",
              "event"
            ]
          },
          "runtimeMinutes": {
            "type": "integer",
            "example": 128
          },
          "posterUrl": {
            "type": "string",
            "nullable": true
          },
          "backdropUrl": {
            "type": "string",
            "nullable": true
          },
          "releaseDate": {
            "type": "string",
            "format": "date"
          },
          "isComingSoon": {
            "type": "boolean",
            "description": "Coming soon titles have no sessions at all. Clicking one must not open seat selection; offer Notify me instead."
          },
          "isFeatured": {
            "type": "boolean",
            "description": "Fills the home page hero"
          },
          "fromPrice": {
            "type": "number",
            "example": 14,
            "description": "Cheapest upcoming session, for the `from GEL X` label. Falls back to the base price when nothing is scheduled."
          },
          "ageRating": {
            "$ref": "#/components/schemas/AgeRating"
          },
          "genres": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Genre"
            }
          },
          "formats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Format"
            }
          }
        }
      },
      "MovieDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Movie"
          },
          {
            "type": "object",
            "properties": {
              "synopsis": {
                "type": "string"
              },
              "director": {
                "type": "string",
                "nullable": true
              },
              "cast": {
                "type": "string",
                "nullable": true,
                "example": "Anne Hathaway, Ewan McGregor"
              },
              "availableDates": {
                "type": "array",
                "description": "Dates with at least one upcoming session, for the day picker",
                "items": {
                  "type": "string",
                  "format": "date"
                }
              }
            }
          }
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "startsAt": {
            "type": "string",
            "format": "date-time"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "time": {
            "type": "string",
            "example": "19:30"
          },
          "timeBand": {
            "type": "string",
            "enum": [
              "morning",
              "afternoon",
              "evening"
            ],
            "description": "Which time-of-day filter this session falls in. Precomputed so you do not have to parse the hour."
          },
          "price": {
            "type": "number",
            "example": 24,
            "description": "The adult price, already including the format uplift. Child and student scale off it by the ratios in /filter-options."
          },
          "seatsLeft": {
            "type": "integer",
            "example": 42,
            "description": "Live count. Excludes seats sold and seats under another user active hold, so it can drop while the page is open."
          },
          "isSoldOut": {
            "type": "boolean",
            "description": "Disable the card visibly rather than hiding it, so the showtime is still readable."
          },
          "hall": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string",
                "example": "B"
              }
            }
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "format": {
            "$ref": "#/components/schemas/Format"
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          },
          "movie": {
            "$ref": "#/components/schemas/Movie"
          }
        }
      },
      "Seat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Send this as `seatId` when holding seats. Not the code."
          },
          "code": {
            "type": "string",
            "example": "E7"
          },
          "label": {
            "type": "string",
            "example": "7",
            "description": "Just the number within the row. Put this inside the seat button; `code` is for summaries and tickets."
          },
          "state": {
            "type": "string",
            "enum": [
              "available",
              "sold",
              "held",
              "unavailable"
            ],
            "description": "`held` is someone else's live hold. `unavailable` is a permanent gap in the plan."
          },
          "aisleAfter": {
            "type": "boolean",
            "description": "A gangway runs to the right of this seat. Insert a spacer after it when rendering the row. Purely visual: it says nothing about availability, and the positions differ per section."
          },
          "isMine": {
            "type": "boolean",
            "description": "Part of your own live hold. Show it as selected rather than blocked, so a returning user keeps their selection. Only ever true when the request carried a token."
          }
        }
      },
      "SeatMap": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "integer"
          },
          "hall": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "venue": {
                "$ref": "#/components/schemas/Venue"
              }
            }
          },
          "sections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Stalls"
                },
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "example": "E"
                      },
                      "seats": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Seat"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SeatHold": {
        "type": "object",
        "properties": {
          "holdId": {
            "type": "string",
            "format": "uuid"
          },
          "sessionId": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Drive the countdown from this absolute timestamp, not from a local counter, so a backgrounded tab does not drift."
          },
          "secondsRemaining": {
            "type": "integer",
            "example": 480,
            "description": "Convenience value at the moment of the response. Useful for the first paint; expiresAt is what to tick against."
          },
          "isLive": {
            "type": "boolean"
          },
          "subtotal": {
            "type": "number",
            "example": 47
          },
          "seats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "seatId": {
                  "type": "integer"
                },
                "code": {
                  "type": "string",
                  "example": "E7"
                },
                "ticketType": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "price": {
                  "type": "number",
                  "example": 15
                }
              }
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "reference": {
            "type": "string",
            "example": "KX-7QF2LD",
            "description": "The order code shown on the confirmation screen. Render the confirmation straight from this response."
          },
          "status": {
            "type": "string",
            "enum": [
              "paid",
              "refunded"
            ]
          },
          "totalPrice": {
            "type": "number",
            "example": 47
          },
          "paidAt": {
            "type": "string",
            "format": "date-time"
          },
          "refundedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isUpcoming": {
            "type": "boolean",
            "description": "Paid, and the session has not started. This is what puts an order in the Upcoming tab rather than Past."
          },
          "isRefundable": {
            "type": "boolean",
            "description": "Drive the Refund button from this. Already false inside the 2 hour cutoff and once refunded, so never compute the cutoff on the client."
          },
          "cardLastFour": {
            "type": "string",
            "example": "4242"
          },
          "contact": {
            "type": "object",
            "properties": {
              "fullName": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "mobileNumber": {
                "type": "string"
              }
            }
          },
          "session": {
            "$ref": "#/components/schemas/Session"
          },
          "tickets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "seatCode": {
                  "type": "string",
                  "example": "E7"
                },
                "ticketType": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "price": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "The given data was invalid."
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": {
              "mobileNumber": [
                "Georgian mobile numbers must start with 5"
              ]
            }
          }
        }
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "No valid token. Open the login modal and replay the action.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Unauthenticated."
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The record belongs to someone else.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "This action is unauthorized."
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "No such record.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Not found."
                }
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Field level validation failed. Map `errors` onto the form.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ValidationError"
            }
          }
        }
      },
      "BookingBlocked": {
        "description": "A booking rule was not met: incomplete profile, age restriction, a session that has started, or an expired hold. Show `message` directly.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Your hold time expired. Please re-select your seats."
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "SessionId": {
        "name": "session",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 809
      },
      "MovieSlug": {
        "name": "movie",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "buddy-1514026"
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Registration, login, logout and the current user"
    },
    {
      "name": "Profile",
      "description": "The authenticated user's profile"
    },
    {
      "name": "Catalogue",
      "description": "Films, both now playing and coming soon"
    },
    {
      "name": "Sessions",
      "description": "Showtimes, the filter options they are browsed with, and the seat map"
    },
    {
      "name": "Booking",
      "description": "Seat holds and checkout"
    },
    {
      "name": "Tickets",
      "description": "My Tickets and refunds"
    }
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new account",
        "description": "Creates the account and signs the user in, returning a token in the same response. There is no separate login step afterwards.\n\nThe new account comes back with `profileComplete: false`. Booking stays blocked until the profile is filled in, so after registering during a protected action, expect to send them to the profile form before the booking can continue.\n\nSent as `multipart/form-data` because of the optional avatar. Note the field is `password_confirmation`, in snake case, which is the one field name here that is not camelCase.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "email",
                  "password",
                  "password_confirmation"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "example": "jane"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "jane@example.com"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 3,
                    "example": "secret"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "example": "secret"
                  },
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "jpg, jpeg, png or webp, max 2MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "token": {
                          "type": "string",
                          "example": "1|abc123..."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log in and receive a token",
        "description": "Store the token and send it as `Authorization: Bearer <token>` on every protected request.\n\nA `401` here means wrong credentials. Keep the modal open, keep the email filled in and show `message` inside the modal.\n\nA `401` from **any other** endpoint means the token is gone or expired: open the login modal, and once it succeeds replay the action the user was trying to do rather than making them click twice.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "jane@kinoxii.test"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 3,
                    "example": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Wrong email or password. Keep the modal open and the email filled in.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Revoke the current token",
        "description": "Revokes only the token used for this request, so signing out on one device leaves others signed in. Clear your stored token afterwards regardless of the response.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "The signed in user",
        "description": "Call this on boot when a stored token exists, to restore the session and get the current `profileComplete` state. A `401` means the stored token is stale: drop it and treat the user as a guest.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          }
        }
      }
    },
    "/profile": {
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Update the profile",
        "description": "Email is set at registration and cannot be changed here. Sending one is ignored rather than rejected.\n\n### Validation\n\nThe messages in `errors` are the exact strings the brief specifies, so show them as returned rather than writing your own. Mobile number and date of birth each have several distinct messages depending on what is wrong: a number that does not start with 5 gets a different message from one of the wrong length.\n\nSpaces in the mobile number are stripped before validation, so `599 123 456` and `599123456` are both accepted and both stored as 9 digits.\n\n### Why it matters\n\nBooking is blocked until `profileComplete` is true, which needs `fullName`, `mobileNumber` and `dateOfBirth` all present. Use that flag for the yellow dot in the navbar and the banner on the profile page.\n\n`dateOfBirth` also drives the age gate. The response includes the derived `age`, so the eligibility notice ('You are 24, you can buy tickets for all age ratings') can be rendered without doing date maths on the client.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "fullName",
                  "mobileNumber",
                  "dateOfBirth"
                ],
                "properties": {
                  "fullName": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 50,
                    "example": "Jane Dolidze"
                  },
                  "mobileNumber": {
                    "type": "string",
                    "pattern": "^5\\d{8}$",
                    "example": "599 123 456",
                    "description": "9 digits starting with 5"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date",
                    "example": "1998-05-12",
                    "description": "Must be at least 12 years ago"
                  },
                  "preferredVenueId": {
                    "type": "integer",
                    "nullable": true
                  },
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "jpg, jpeg, png or webp, max 2MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile saved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/filter-options": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "Everything the sidebar and booking modal need",
        "description": "Fetch this once when the app boots and cache it. It is the source of truth for every list the UI renders.\n\nNothing here should be hardcoded in the frontend: venues, formats, languages, time bands, sort options, ticket types, age ratings, the seat cap and the hold duration all come from here. If an admin adds a venue or changes the child ticket ratio, your UI picks it up without a deploy.\n\n`venues[].formats` is what each venue can actually show, which is what you narrow the format filter with when venues are selected.\n\n`maxSeatsPerOrder` and `holdMinutes` drive the seat cap notice and the countdown, so read them rather than writing 3 and 8 into your code.",
        "responses": {
          "200": {
            "description": "Filter options",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "venues": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Venue"
                          }
                        },
                        "formats": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Format"
                          }
                        },
                        "languages": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Language"
                          }
                        },
                        "timeBands": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "evening"
                              },
                              "label": {
                                "type": "string",
                                "example": "Evening (after 18:00)"
                              }
                            }
                          }
                        },
                        "sorts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "price_asc"
                              },
                              "label": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "ticketTypes": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TicketType"
                          }
                        },
                        "ageRatings": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AgeRating"
                          }
                        },
                        "maxSeatsPerOrder": {
                          "type": "integer",
                          "example": 3
                        },
                        "holdMinutes": {
                          "type": "integer",
                          "example": 8
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "venues": [
                      {
                        "id": 2,
                        "slug": "batumi",
                        "name": "Batumi Boulevard",
                        "city": "Batumi",
                        "formats": [
                          {
                            "id": 3,
                            "slug": "atmos",
                            "name": "ATMOS",
                            "priceUplift": 4
                          },
                          {
                            "id": 2,
                            "slug": "max",
                            "name": "MAX",
                            "priceUplift": 6
                          },
                          {
                            "id": 1,
                            "slug": "standard",
                            "name": "Standard",
                            "priceUplift": 0
                          }
                        ]
                      },
                      {
                        "id": 1,
                        "slug": "galleria",
                        "name": "Galleria Tbilisi",
                        "city": "Tbilisi",
                        "formats": [
                          {
                            "id": 3,
                            "slug": "atmos",
                            "name": "ATMOS",
                            "priceUplift": 4
                          },
                          {
                            "id": 2,
                            "slug": "max",
                            "name": "MAX",
                            "priceUplift": 6
                          },
                          {
                            "id": 5,
                            "slug": "motion",
                            "name": "MOTION",
                            "priceUplift": 8
                          },
                          {
                            "id": 4,
                            "slug": "panorama",
                            "name": "PANORAMA",
                            "priceUplift": 5
                          },
                          {
                            "id": 1,
                            "slug": "standard",
                            "name": "Standard",
                            "priceUplift": 0
                          }
                        ]
                      },
                      {
                        "id": 3,
                        "slug": "rustaveli",
                        "name": "Rustaveli Palace",
                        "city": "Tbilisi",
                        "formats": [
                          {
                            "id": 3,
                            "slug": "atmos",
                            "name": "ATMOS",
                            "priceUplift": 4
                          },
                          {
                            "id": 4,
                            "slug": "panorama",
                            "name": "PANORAMA",
                            "priceUplift": 5
                          },
                          {
                            "id": 1,
                            "slug": "standard",
                            "name": "Standard",
                            "priceUplift": 0
                          }
                        ]
                      },
                      {
                        "id": 4,
                        "slug": "vake",
                        "name": "Vake Park",
                        "city": "Tbilisi",
                        "formats": [
                          {
                            "id": 2,
                            "slug": "max",
                            "name": "MAX",
                            "priceUplift": 6
                          },
                          {
                            "id": 5,
                            "slug": "motion",
                            "name": "MOTION",
                            "priceUplift": 8
                          },
                          {
                            "id": 1,
                            "slug": "standard",
                            "name": "Standard",
                            "priceUplift": 0
                          }
                        ]
                      }
                    ],
                    "formats": [
                      {
                        "id": 1,
                        "slug": "standard",
                        "name": "Standard",
                        "priceUplift": 0
                      },
                      {
                        "id": 2,
                        "slug": "max",
                        "name": "MAX",
                        "priceUplift": 6
                      },
                      {
                        "id": 3,
                        "slug": "atmos",
                        "name": "ATMOS",
                        "priceUplift": 4
                      },
                      {
                        "id": 4,
                        "slug": "panorama",
                        "name": "PANORAMA",
                        "priceUplift": 5
                      },
                      {
                        "id": 5,
                        "slug": "motion",
                        "name": "MOTION",
                        "priceUplift": 8
                      }
                    ],
                    "languages": [
                      {
                        "id": 1,
                        "slug": "georgian-dub",
                        "name": "Georgian Dub"
                      },
                      {
                        "id": 2,
                        "slug": "georgian-subtitles",
                        "name": "Georgian Subtitles"
                      },
                      {
                        "id": 3,
                        "slug": "original-subtitles",
                        "name": "Original with Subtitles"
                      },
                      {
                        "id": 4,
                        "slug": "russian-dub",
                        "name": "Russian Dub"
                      }
                    ],
                    "timeBands": [
                      {
                        "id": "morning",
                        "label": "Morning (before 12:00)"
                      },
                      {
                        "id": "afternoon",
                        "label": "Afternoon (12:00 - 18:00)"
                      },
                      {
                        "id": "evening",
                        "label": "Evening (after 18:00)"
                      }
                    ],
                    "sorts": [
                      {
                        "id": "time_asc",
                        "label": "Showtime: earliest first"
                      },
                      {
                        "id": "time_desc",
                        "label": "Showtime: latest first"
                      },
                      {
                        "id": "price_asc",
                        "label": "Price: low to high"
                      },
                      {
                        "id": "price_desc",
                        "label": "Price: high to low"
                      },
                      {
                        "id": "title_asc",
                        "label": "Title: A-Z"
                      }
                    ],
                    "ticketTypes": [
                      {
                        "id": 1,
                        "slug": "adult",
                        "name": "Adult",
                        "priceRatio": 1,
                        "note": null,
                        "blockedFromRatingAge": null
                      },
                      {
                        "id": 2,
                        "slug": "child",
                        "name": "Child",
                        "priceRatio": 0.6,
                        "note": "Not available for 16+ or 18+ titles.",
                        "blockedFromRatingAge": 16
                      },
                      {
                        "id": 3,
                        "slug": "student",
                        "name": "Student",
                        "priceRatio": 0.75,
                        "note": "Valid student ID required at entry.",
                        "blockedFromRatingAge": null
                      }
                    ],
                    "ageRatings": [
                      {
                        "code": "G",
                        "minAge": 0,
                        "description": "Suitable for all ages. No age check applies at the door."
                      },
                      {
                        "code": "PG",
                        "minAge": 0,
                        "description": "Parental guidance advised. Younger viewers may need an adult present."
                      },
                      {
                        "code": "12+",
                        "minAge": 12,
                        "description": "Not recommended for under-12s. Tickets require an account aged 12 or over."
                      },
                      {
                        "code": "16+",
                        "minAge": 16,
                        "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                      },
                      {
                        "code": "18+",
                        "minAge": 18,
                        "description": "Restricted to viewers aged 18 and over. Photo ID may be requested at the door."
                      }
                    ],
                    "maxSeatsPerOrder": 3,
                    "holdMinutes": 8
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Search titles",
        "description": "For the header typeahead. Matches on title and returns at most 6 results.\n\nA blank query returns an empty array rather than the whole catalogue, so an empty input needs no special case. Debounce before calling it.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Budd"
          }
        ],
        "responses": {
          "200": {
            "description": "Up to 6 matches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Movie"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 23,
                      "slug": "buddy-1514026",
                      "title": "Buddy",
                      "kind": "film",
                      "runtimeMinutes": 95,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/szMG36D2cIxeQ7i5zRQbq0DnNDe.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/ytoLEl5yDaxB8AtZ52uKWjaQ9ql.jpg",
                      "releaseDate": "2026-08-27",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": false,
                      "fromPrice": 12,
                      "ageRating": {
                        "code": "16+",
                        "minAge": 16,
                        "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                      },
                      "genres": [
                        {
                          "id": 4,
                          "slug": "horror",
                          "name": "Horror"
                        },
                        {
                          "id": 6,
                          "slug": "comedy",
                          "name": "Comedy"
                        },
                        {
                          "id": 12,
                          "slug": "fantasy",
                          "name": "Fantasy"
                        }
                      ],
                      "formats": [
                        {
                          "id": 4,
                          "slug": "panorama",
                          "name": "PANORAMA",
                          "priceUplift": 5
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/movies/now-playing": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "All films currently showing",
        "description": "Everything on release right now, alphabetical. Pass `limit` for the home grid; leave it off for the full catalogue.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Cap the number returned, for the home grid"
          }
        ],
        "responses": {
          "200": {
            "description": "Now playing. The array holds every matching title, not one.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Movie"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 23,
                      "slug": "buddy-1514026",
                      "title": "Buddy",
                      "kind": "film",
                      "runtimeMinutes": 95,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/szMG36D2cIxeQ7i5zRQbq0DnNDe.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/ytoLEl5yDaxB8AtZ52uKWjaQ9ql.jpg",
                      "releaseDate": "2026-08-27",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": false,
                      "fromPrice": 12,
                      "ageRating": {
                        "code": "16+",
                        "minAge": 16,
                        "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                      },
                      "genres": [
                        {
                          "id": 4,
                          "slug": "horror",
                          "name": "Horror"
                        },
                        {
                          "id": 6,
                          "slug": "comedy",
                          "name": "Comedy"
                        },
                        {
                          "id": 12,
                          "slug": "fantasy",
                          "name": "Fantasy"
                        }
                      ],
                      "formats": [
                        {
                          "id": 4,
                          "slug": "panorama",
                          "name": "PANORAMA",
                          "priceUplift": 5
                        }
                      ]
                    },
                    {
                      "id": 21,
                      "slug": "cars-920",
                      "title": "Cars",
                      "kind": "film",
                      "runtimeMinutes": 117,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/2Touk3m5gzsqr1VsvxypdyHY5ci.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/sOLgkBKf1gjMRc4yXxM5aciXdfr.jpg",
                      "releaseDate": "2006-06-08",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": false,
                      "fromPrice": 14,
                      "ageRating": {
                        "code": "PG",
                        "minAge": 0,
                        "description": "Parental guidance advised. Younger viewers may need an adult present."
                      },
                      "genres": [
                        {
                          "id": 11,
                          "slug": "animation",
                          "name": "Animation"
                        },
                        {
                          "id": 5,
                          "slug": "adventure",
                          "name": "Adventure"
                        },
                        {
                          "id": 6,
                          "slug": "comedy",
                          "name": "Comedy"
                        },
                        {
                          "id": 7,
                          "slug": "family",
                          "name": "Family"
                        }
                      ],
                      "formats": [
                        {
                          "id": 2,
                          "slug": "max",
                          "name": "MAX",
                          "priceUplift": 6
                        },
                        {
                          "id": 4,
                          "slug": "panorama",
                          "name": "PANORAMA",
                          "priceUplift": 5
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/movies/coming-soon": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "All unreleased films",
        "description": "These have no sessions. Clicking one must not open seat selection.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coming soon. The array holds every matching title, not one.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Movie"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 29,
                      "slug": "princess-mononoke-128",
                      "title": "Princess Mononoke",
                      "kind": "film",
                      "runtimeMinutes": 134,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/cMYCDADoLKLbB83g4WnJegaZimC.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/gl0jzn4BupSbL2qMVeqrjKkF9Js.jpg",
                      "releaseDate": "1997-07-12",
                      "isComingSoon": true,
                      "isNotified": false,
                      "isFeatured": false,
                      "fromPrice": 16,
                      "ageRating": {
                        "code": "PG",
                        "minAge": 0,
                        "description": "Parental guidance advised. Younger viewers may need an adult present."
                      },
                      "genres": [
                        {
                          "id": 5,
                          "slug": "adventure",
                          "name": "Adventure"
                        },
                        {
                          "id": 12,
                          "slug": "fantasy",
                          "name": "Fantasy"
                        },
                        {
                          "id": 11,
                          "slug": "animation",
                          "name": "Animation"
                        }
                      ],
                      "formats": [
                        {
                          "id": 2,
                          "slug": "max",
                          "name": "MAX",
                          "priceUplift": 6
                        }
                      ]
                    },
                    {
                      "id": 32,
                      "slug": "pans-labyrinth-1417",
                      "title": "Pan's Labyrinth",
                      "kind": "film",
                      "runtimeMinutes": 118,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/7wb2Ldp0oAx1lcZvffq9RfWoI2h.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/6G6nqSW9S7EHA9HrYl0Z8uo2H7f.jpg",
                      "releaseDate": "2006-10-11",
                      "isComingSoon": true,
                      "isNotified": false,
                      "isFeatured": false,
                      "fromPrice": 14,
                      "ageRating": {
                        "code": "16+",
                        "minAge": 16,
                        "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                      },
                      "genres": [
                        {
                          "id": 12,
                          "slug": "fantasy",
                          "name": "Fantasy"
                        },
                        {
                          "id": 9,
                          "slug": "drama",
                          "name": "Drama"
                        },
                        {
                          "id": 15,
                          "slug": "war",
                          "name": "War"
                        }
                      ],
                      "formats": [
                        {
                          "id": 3,
                          "slug": "atmos",
                          "name": "ATMOS",
                          "priceUplift": 4
                        },
                        {
                          "id": 4,
                          "slug": "panorama",
                          "name": "PANORAMA",
                          "priceUplift": 5
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/movies/featured": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Hero titles for the home page carousel",
        "description": "The handful of titles flagged as featured, for the animated hero. A subset of now playing, so they are bookable.",
        "responses": {
          "200": {
            "description": "Featured films. The array holds every matching title, not one.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Movie"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 1,
                      "slug": "the-end-of-oak-street-1101383",
                      "title": "The End of Oak Street",
                      "kind": "film",
                      "runtimeMinutes": 100,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/fYXqpgPmHMphSF2W30GbTeJVIa5.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/b9q9VmbXDvJmTziRqkwdEmFdwhr.jpg",
                      "releaseDate": "2026-08-12",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": true,
                      "fromPrice": 14,
                      "ageRating": {
                        "code": "12+",
                        "minAge": 12,
                        "description": "Not recommended for under-12s. Tickets require an account aged 12 or over."
                      },
                      "genres": [
                        {
                          "id": 1,
                          "slug": "science-fiction",
                          "name": "Science Fiction"
                        },
                        {
                          "id": 2,
                          "slug": "mystery",
                          "name": "Mystery"
                        },
                        {
                          "id": 3,
                          "slug": "thriller",
                          "name": "Thriller"
                        }
                      ],
                      "formats": [
                        {
                          "id": 3,
                          "slug": "atmos",
                          "name": "ATMOS",
                          "priceUplift": 4
                        },
                        {
                          "id": 5,
                          "slug": "motion",
                          "name": "MOTION",
                          "priceUplift": 8
                        }
                      ]
                    },
                    {
                      "id": 2,
                      "slug": "resident-evil-1423191",
                      "title": "Resident Evil",
                      "kind": "film",
                      "runtimeMinutes": 95,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/i7UyjfPio0VFHB9rBUZSFyhOoM8.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/1CIaRYKf3zg2Xyce1CSfCMg2Vfw.jpg",
                      "releaseDate": "2026-09-16",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": true,
                      "fromPrice": 12,
                      "ageRating": {
                        "code": "16+",
                        "minAge": 16,
                        "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                      },
                      "genres": [
                        {
                          "id": 4,
                          "slug": "horror",
                          "name": "Horror"
                        },
                        {
                          "id": 1,
                          "slug": "science-fiction",
                          "name": "Science Fiction"
                        },
                        {
                          "id": 5,
                          "slug": "adventure",
                          "name": "Adventure"
                        }
                      ],
                      "formats": [
                        {
                          "id": 3,
                          "slug": "atmos",
                          "name": "ATMOS",
                          "priceUplift": 4
                        },
                        {
                          "id": 5,
                          "slug": "motion",
                          "name": "MOTION",
                          "priceUplift": 8
                        }
                      ]
                    },
                    {
                      "id": 3,
                      "slug": "coyote-vs-acme-1204680",
                      "title": "Coyote vs. Acme",
                      "kind": "film",
                      "runtimeMinutes": 103,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/kYDCl2y0VPvhT5eYWbMRInPoB03.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/7GOW6jod9lLurW5utokAatxg7ql.jpg",
                      "releaseDate": "2026-08-20",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": true,
                      "fromPrice": 14,
                      "ageRating": {
                        "code": "PG",
                        "minAge": 0,
                        "description": "Parental guidance advised. Younger viewers may need an adult present."
                      },
                      "genres": [
                        {
                          "id": 6,
                          "slug": "comedy",
                          "name": "Comedy"
                        },
                        {
                          "id": 5,
                          "slug": "adventure",
                          "name": "Adventure"
                        },
                        {
                          "id": 7,
                          "slug": "family",
                          "name": "Family"
                        }
                      ],
                      "formats": [
                        {
                          "id": 2,
                          "slug": "max",
                          "name": "MAX",
                          "priceUplift": 6
                        },
                        {
                          "id": 4,
                          "slug": "panorama",
                          "name": "PANORAMA",
                          "priceUplift": 5
                        }
                      ]
                    },
                    {
                      "id": 4,
                      "slug": "colony-1375646",
                      "title": "Colony",
                      "kind": "film",
                      "runtimeMinutes": 123,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/tN799oUR0f1gUKDYdMNrDaY7I51.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/hpBGCnzOvdtQoMyE48gvwp2y5yx.jpg",
                      "releaseDate": "2026-05-21",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": true,
                      "fromPrice": 16,
                      "ageRating": {
                        "code": "16+",
                        "minAge": 16,
                        "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                      },
                      "genres": [
                        {
                          "id": 8,
                          "slug": "action",
                          "name": "Action"
                        },
                        {
                          "id": 4,
                          "slug": "horror",
                          "name": "Horror"
                        },
                        {
                          "id": 1,
                          "slug": "science-fiction",
                          "name": "Science Fiction"
                        }
                      ],
                      "formats": [
                        {
                          "id": 4,
                          "slug": "panorama",
                          "name": "PANORAMA",
                          "priceUplift": 5
                        },
                        {
                          "id": 5,
                          "slug": "motion",
                          "name": "MOTION",
                          "priceUplift": 8
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/movies/{movie}": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "One film, with everything the details page shows",
        "description": "Everything the details page needs in one call.\n\n`availableDates` lists only the dates this film actually has upcoming sessions on, so the 7 day picker can disable the empty ones instead of showing a day that returns nothing. Feed a value from it into `GET /movies/{movie}/sessions`.\n\n`ageRating.description` is tooltip copy for the badge, and `ageRating.minAge` is what you compare the signed in user's `age` against to decide whether to disable the session buttons.",
        "parameters": [
          {
            "$ref": "#/components/parameters/MovieSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Film detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MovieDetail"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": 23,
                    "slug": "buddy-1514026",
                    "title": "Buddy",
                    "kind": "film",
                    "runtimeMinutes": 95,
                    "posterUrl": "https://image.tmdb.org/t/p/w500/szMG36D2cIxeQ7i5zRQbq0DnNDe.jpg",
                    "backdropUrl": "https://image.tmdb.org/t/p/w1280/ytoLEl5yDaxB8AtZ52uKWjaQ9ql.jpg",
                    "releaseDate": "2026-08-27",
                    "isComingSoon": false,
                    "isNotified": false,
                    "isFeatured": false,
                    "fromPrice": 12,
                    "ageRating": {
                      "code": "16+",
                      "minAge": 16,
                      "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                    },
                    "genres": [
                      {
                        "id": 4,
                        "slug": "horror",
                        "name": "Horror"
                      },
                      {
                        "id": 6,
                        "slug": "comedy",
                        "name": "Comedy"
                      },
                      {
                        "id": 12,
                        "slug": "fantasy",
                        "name": "Fantasy"
                      }
                    ],
                    "formats": [
                      {
                        "id": 4,
                        "slug": "panorama",
                        "name": "PANORAMA",
                        "priceUplift": 5
                      }
                    ],
                    "synopsis": "A magical, singing orange unicorn holds his cast hostage in a surreal TV-show dimension, as he becomes more and more demented.",
                    "director": "Casper Kelly",
                    "cast": "Keegan-Michael Key, Cristin Milioti, Delaney Quinn",
                    "availableDates": [
                      "2026-10-02",
                      "2026-10-03",
                      "2026-10-04",
                      "2026-10-05",
                      "2026-10-06",
                      "2026-10-07",
                      "2026-10-08",
                      "2026-10-09",
                      "2026-10-10",
                      "2026-10-11",
                      "2026-10-12",
                      "2026-10-13",
                      "2026-10-14",
                      "2026-10-15"
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/movies/{movie}/sessions": {
      "get": {
        "tags": [
          "Catalogue"
        ],
        "summary": "A film's sessions on one date, grouped by venue",
        "description": "The showtimes under the details page date picker, already grouped by venue.\n\n`date` defaults to today. A coming soon title returns an empty array on every date, because those have no sessions at all.\n\nEach session carries its own `seatsLeft` and `isSoldOut`, so the buttons can be disabled without a second call.",
        "parameters": [
          {
            "$ref": "#/components/parameters/MovieSlug"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Defaults to today",
            "example": "2026-10-02"
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions grouped by venue",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "venue": {
                            "$ref": "#/components/schemas/Venue"
                          },
                          "sessions": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Session"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "venue": {
                        "id": 2,
                        "slug": "batumi",
                        "name": "Batumi Boulevard",
                        "city": "Batumi"
                      },
                      "sessions": [
                        {
                          "id": 855,
                          "startsAt": "2026-10-02T16:45:00+00:00",
                          "date": "2026-10-02",
                          "time": "16:45",
                          "timeBand": "afternoon",
                          "price": 12,
                          "seatsLeft": 123,
                          "isSoldOut": false,
                          "hall": {
                            "id": 8,
                            "name": "D",
                            "venue": {
                              "id": 2,
                              "slug": "batumi",
                              "name": "Batumi Boulevard",
                              "city": "Batumi"
                            }
                          },
                          "venue": {
                            "id": 2,
                            "slug": "batumi",
                            "name": "Batumi Boulevard",
                            "city": "Batumi"
                          },
                          "format": {
                            "id": 1,
                            "slug": "standard",
                            "name": "Standard",
                            "priceUplift": 0
                          },
                          "language": {
                            "id": 1,
                            "slug": "georgian-dub",
                            "name": "Georgian Dub"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/movies/{movie}/notify": {
      "post": {
        "tags": [
          "Catalogue"
        ],
        "summary": "Notify me when this title opens",
        "description": "Subscribes the signed in user to a Coming Soon title.\n\nSubscribing twice is a no-op that still returns `201`, so the button never has to track whether it has already been pressed and a double click is harmless.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/MovieSlug"
          }
        ],
        "responses": {
          "201": {
            "description": "Subscribed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "movieId": {
                          "type": "integer"
                        },
                        "subscribed": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/sessions": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "The sessions list",
        "description": "Every showing on one date that matches the filters, grouped under its film. This backs the sessions page.\n\n### Grouping and pagination\n\n`data` is an array of `{ movie, sessions }` groups, one per film, with that film's showtimes already sorted by start time. Pagination counts **films, not sessions**: 10 films per page, which is what `meta.lastPage` is over. A page can therefore hold far more than 10 sessions.\n\n`meta.totalSessions` is the number for the 'Showing X sessions' counter. `meta.totalMovies` is what the pager is dividing up.\n\n### Filters\n\nArray filters take slugs, not ids, because slugs are what belong in a URL. Get the valid values from `GET /filter-options`.\n\nEvery filter is an AND against the others and an OR within itself: `venues[]=galleria&venues[]=vake&formats[]=max` means *(Galleria or Vake) and MAX*.\n\n`date` defaults to today. There is always exactly one date in play, which is why it is a single value and the others are arrays.\n\n### Putting it in the URL\n\nEvery parameter maps straight onto a query string value, so the whole view can live in the address bar and deep links, refreshes and back and forward all work:\n\n```text\n/sessions?venues[]=galleria&venues[]=vake&date=2026-11-14&formats[]=max&sort=price_asc&page=2\n```\n\nTwo things to get right: changing any filter or the sort must reset `page` to 1, and selecting venues should narrow the format list to the formats those venues actually have, dropping any selected format they do not (`venue.formats` tells you).\n\n### Rendering the cards\n\nA session with `isSoldOut: true` should be visibly disabled rather than hidden, so the showtime is still legible. `seatsLeft` is live and counts both sold seats and seats under someone else's hold.",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Defaults to today"
          },
          {
            "name": "venues[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Venue slugs",
            "example": "galleria"
          },
          {
            "name": "formats[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Format slugs",
            "example": "max"
          },
          {
            "name": "languages[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Language slugs"
          },
          {
            "name": "bands[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "morning",
                  "afternoon",
                  "evening"
                ]
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "description": "Matches the film title"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "time_asc",
                "time_desc",
                "price_asc",
                "price_desc",
                "title_asc"
              ]
            },
            "description": "Defaults to time_asc"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Grouped sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "movie": {
                            "$ref": "#/components/schemas/Movie"
                          },
                          "sessions": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Session"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "currentPage": {
                          "type": "integer"
                        },
                        "lastPage": {
                          "type": "integer"
                        },
                        "perPage": {
                          "type": "integer",
                          "example": 10,
                          "description": "Films per page, not sessions"
                        },
                        "totalSessions": {
                          "type": "integer",
                          "description": "Drives the \"Showing X sessions\" counter"
                        },
                        "totalMovies": {
                          "type": "integer"
                        },
                        "date": {
                          "type": "string",
                          "format": "date"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "movie": {
                        "id": 8,
                        "slug": "hope-1058424",
                        "title": "Hope",
                        "kind": "film",
                        "runtimeMinutes": 157,
                        "posterUrl": "https://image.tmdb.org/t/p/w500/1n37BJchWHLiSYQkuFxe5KjB951.jpg",
                        "backdropUrl": "https://image.tmdb.org/t/p/w1280/hrCTKrc3Tz2wbPOt5rcrlAhqF11.jpg",
                        "releaseDate": "2026-07-15",
                        "isComingSoon": false,
                        "isNotified": false,
                        "isFeatured": false,
                        "fromPrice": 18,
                        "ageRating": {
                          "code": "16+",
                          "minAge": 16,
                          "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                        },
                        "genres": [
                          {
                            "id": 1,
                            "slug": "science-fiction",
                            "name": "Science Fiction"
                          },
                          {
                            "id": 2,
                            "slug": "mystery",
                            "name": "Mystery"
                          },
                          {
                            "id": 8,
                            "slug": "action",
                            "name": "Action"
                          }
                        ],
                        "formats": [
                          {
                            "id": 2,
                            "slug": "max",
                            "name": "MAX",
                            "priceUplift": 6
                          },
                          {
                            "id": 4,
                            "slug": "panorama",
                            "name": "PANORAMA",
                            "priceUplift": 5
                          }
                        ]
                      },
                      "sessions": [
                        {
                          "id": 809,
                          "startsAt": "2026-10-02T10:00:00+00:00",
                          "date": "2026-10-02",
                          "time": "10:00",
                          "timeBand": "morning",
                          "price": 18,
                          "seatsLeft": 123,
                          "isSoldOut": false,
                          "hall": {
                            "id": 8,
                            "name": "D",
                            "venue": {
                              "id": 2,
                              "slug": "batumi",
                              "name": "Batumi Boulevard",
                              "city": "Batumi"
                            }
                          },
                          "venue": {
                            "id": 2,
                            "slug": "batumi",
                            "name": "Batumi Boulevard",
                            "city": "Batumi"
                          },
                          "format": {
                            "id": 1,
                            "slug": "standard",
                            "name": "Standard",
                            "priceUplift": 0
                          },
                          "language": {
                            "id": 1,
                            "slug": "georgian-dub",
                            "name": "Georgian Dub"
                          },
                          "movie": {
                            "id": 8,
                            "slug": "hope-1058424",
                            "title": "Hope",
                            "kind": "film",
                            "runtimeMinutes": 157,
                            "posterUrl": "https://image.tmdb.org/t/p/w500/1n37BJchWHLiSYQkuFxe5KjB951.jpg",
                            "backdropUrl": "https://image.tmdb.org/t/p/w1280/hrCTKrc3Tz2wbPOt5rcrlAhqF11.jpg",
                            "releaseDate": "2026-07-15",
                            "isComingSoon": false,
                            "isNotified": false,
                            "isFeatured": false,
                            "fromPrice": 18,
                            "ageRating": {
                              "code": "16+",
                              "minAge": 16,
                              "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                            },
                            "genres": [
                              {
                                "id": 1,
                                "slug": "science-fiction",
                                "name": "Science Fiction"
                              },
                              {
                                "id": 2,
                                "slug": "mystery",
                                "name": "Mystery"
                              },
                              {
                                "id": 8,
                                "slug": "action",
                                "name": "Action"
                              }
                            ],
                            "formats": [
                              {
                                "id": 2,
                                "slug": "max",
                                "name": "MAX",
                                "priceUplift": 6
                              },
                              {
                                "id": 4,
                                "slug": "panorama",
                                "name": "PANORAMA",
                                "priceUplift": 5
                              }
                            ]
                          }
                        },
                        {
                          "id": 808,
                          "startsAt": "2026-10-02T14:00:00+00:00",
                          "date": "2026-10-02",
                          "time": "14:00",
                          "timeBand": "afternoon",
                          "price": 18,
                          "seatsLeft": 123,
                          "isSoldOut": false,
                          "hall": {
                            "id": 16,
                            "name": "D",
                            "venue": {
                              "id": 4,
                              "slug": "vake",
                              "name": "Vake Park",
                              "city": "Tbilisi"
                            }
                          },
                          "venue": {
                            "id": 4,
                            "slug": "vake",
                            "name": "Vake Park",
                            "city": "Tbilisi"
                          },
                          "format": {
                            "id": 1,
                            "slug": "standard",
                            "name": "Standard",
                            "priceUplift": 0
                          },
                          "language": {
                            "id": 4,
                            "slug": "russian-dub",
                            "name": "Russian Dub"
                          },
                          "movie": {
                            "id": 8,
                            "slug": "hope-1058424",
                            "title": "Hope",
                            "kind": "film",
                            "runtimeMinutes": 157,
                            "posterUrl": "https://image.tmdb.org/t/p/w500/1n37BJchWHLiSYQkuFxe5KjB951.jpg",
                            "backdropUrl": "https://image.tmdb.org/t/p/w1280/hrCTKrc3Tz2wbPOt5rcrlAhqF11.jpg",
                            "releaseDate": "2026-07-15",
                            "isComingSoon": false,
                            "isNotified": false,
                            "isFeatured": false,
                            "fromPrice": 18,
                            "ageRating": {
                              "code": "16+",
                              "minAge": 16,
                              "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                            },
                            "genres": [
                              {
                                "id": 1,
                                "slug": "science-fiction",
                                "name": "Science Fiction"
                              },
                              {
                                "id": 2,
                                "slug": "mystery",
                                "name": "Mystery"
                              },
                              {
                                "id": 8,
                                "slug": "action",
                                "name": "Action"
                              }
                            ],
                            "formats": [
                              {
                                "id": 2,
                                "slug": "max",
                                "name": "MAX",
                                "priceUplift": 6
                              },
                              {
                                "id": 4,
                                "slug": "panorama",
                                "name": "PANORAMA",
                                "priceUplift": 5
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "currentPage": 1,
                    "lastPage": 3,
                    "perPage": 10,
                    "totalSessions": 70,
                    "totalMovies": 24,
                    "date": "2026-10-02"
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/sessions/{session}": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "One session",
        "description": "The booking modal header is built from this.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Session"
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": 809,
                    "startsAt": "2026-10-02T10:00:00+00:00",
                    "date": "2026-10-02",
                    "time": "10:00",
                    "timeBand": "morning",
                    "price": 18,
                    "seatsLeft": 123,
                    "isSoldOut": false,
                    "hall": {
                      "id": 8,
                      "name": "D",
                      "venue": {
                        "id": 2,
                        "slug": "batumi",
                        "name": "Batumi Boulevard",
                        "city": "Batumi"
                      }
                    },
                    "venue": {
                      "id": 2,
                      "slug": "batumi",
                      "name": "Batumi Boulevard",
                      "city": "Batumi"
                    },
                    "format": {
                      "id": 1,
                      "slug": "standard",
                      "name": "Standard",
                      "priceUplift": 0
                    },
                    "language": {
                      "id": 1,
                      "slug": "georgian-dub",
                      "name": "Georgian Dub"
                    },
                    "movie": {
                      "id": 8,
                      "slug": "hope-1058424",
                      "title": "Hope",
                      "kind": "film",
                      "runtimeMinutes": 157,
                      "posterUrl": "https://image.tmdb.org/t/p/w500/1n37BJchWHLiSYQkuFxe5KjB951.jpg",
                      "backdropUrl": "https://image.tmdb.org/t/p/w1280/hrCTKrc3Tz2wbPOt5rcrlAhqF11.jpg",
                      "releaseDate": "2026-07-15",
                      "isComingSoon": false,
                      "isNotified": false,
                      "isFeatured": false,
                      "fromPrice": 18,
                      "ageRating": {
                        "code": "16+",
                        "minAge": 16,
                        "description": "Restricted to viewers aged 16 and over. Child tickets are unavailable."
                      },
                      "genres": [
                        {
                          "id": 1,
                          "slug": "science-fiction",
                          "name": "Science Fiction"
[...]
